// Giving inputs
NET "a<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "a<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "b<0>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "b<1>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;
NET "cin" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;

// LED Display
NET "sum<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sum<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "carry" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

// LCD Display

NET "LCD_E" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_E" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_E" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
//LCD 4 bit data interface shared with strataFlash
NET "SF_D<8>" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<9>" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<10>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<11>" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;